<div class="ui fixed borderless main menu pointing" style="font-size: 20px;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);background: #ffffff;">
  <a class="item" href="/<%= locals.path %>">
    <i class="arrow left icon" style="font-size: 25px;margin: auto;"></i>
  </a>
  <div class="item"><%= locals.title %></div>
</div>