<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Music</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="/css/menu.css"/>
    <script src="/js/menu.js"></script>

    <style type="text/css">

      .list .content{
        font-size: 20px;
        margin-top: 15px;
      }

      .list .segment{
        margin: .5rem 0 !important;
      }
      
      
    </style>

    <script>
      $(document).ready(function () {
        
        $('form button').click(function (e) { 
            $('.ui.dimmer').dimmer('show');
        });   


        if(localStorage.getItem("spplaylists") != null){
          let playLists = JSON.parse(localStorage.getItem("spplaylists")).items;
          console.log('playlist size is : ', playLists.length);

          playLists.forEach(list => {

            let l = '<a class="item ui raised segment" data="'+list.id+'">'+
            '<img class="ui tiny image" src="'+list.images[0].url+'">'+
            '<div class="content">'+
              '<div class="header">'+list.name+'</div>'+
              '<div class="description"> by '+list.owner.display_name+'</div>'+
            '</div>'+
            '</a>';

            $('.playList').append(l);

          });
        }

        
        $('.playList .item').click(function (e) { 
          e.preventDefault();
          console.log($(this).attr('data'));
          localStorage.setItem("playListId", $(this).attr('data'));
          window.location.href='/playlistsongs';
          
        });
        

        
        

      });
    </script>
  </head>
  <body class="pushable">

    <%- include('user_header', {selected: 'music', title:'MUSIC'}); %>

    <div class="pusher" style="padding: 10px!important;">
      
      <div class="ui list playList">
        
      </div>


      

      
          
    </div>

    <div class="ui  inverted dimmer">
      <!-- active -->
      <div class="ui text loader">Loading</div>
    </div>
  
  </body>
</html>
